body{
	background-color: #000000;
    color: white;
    display: flex;
    justify-content: center;
}

#top{
    width: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#centerIt{
    display: flex;
    justify-content: center;
}

h1{
    margin: 40px;
    color: white;
    text-align: center;
}

.descriptionPage {
    color: white;
    border:1px solid #ffffff;
    padding: 8px 16px;
    margin: 10px;
}

.singleBox {
    display: flex;
    justify-content: space-between;
}

.boxImage {
	padding: 20px;
}

.boxText{
	padding: 20px;
}

.bullets {
    padding-left: 20px;
}